@import '../../sass/main.scss';

.home_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  background-color: $color-tertiary;
  padding: 50px;
  border-radius: 25px;
  width: 87%;
  margin: 0 auto;

  @media screen and (max-width: 1230px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}