@import '../../sass/main.scss';

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 209px;
    background-color: #000;
    @include flex(column);
    gap: 50px;
    
    &_copyright {
      color: $color-primary;
    }
  }