@import '../../sass/main.scss';

.footer {
    left: 0;
    bottom: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 209px;
    background-color: #000;
    @include flex(column);
    gap: 50px;
    
    &_copyright {
      color: $color-primary;
    }
  }

  .fixed-footer {
    position: fixed;
  }  